@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  margin: 0;
  background-color: black;
  font-family: "Press Start 2P";
  height: 100vh;
  overflow: hidden;
}

.background-container {
  position: relative;
}

.dot-background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.dot-strip {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dot {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: scale(0.2);
  animation: none;
}
@keyframes animateDot {
  0% {
    transform: scale(0.2);
    background: rgba(255, 255, 255, 0.3);
  }
  10% {
    transform: scale(1);
    background: #00ffa0;
    box-shadow: 0 0 10px #00ffa0, 0 0 20px #00ffa0, 0 0 40px #00ffa0,
      0 0 60px #00ffa0, 0 0 80px #00ffa0, 0 0 100px #00ffa0;
  }
  50%,
  100% {
    transform: scale(0.2);
    background: rgba(255, 255, 255, 0.3);
  }
}

.content {
  position: absolute;
  top: 0px;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  color: #00ffa0;
  font-size: 25px;
  text-align: center;
  margin-bottom: 50px;
}

.selection {
  position: relative;
  height: 35px;
}

.selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  text-align: center;
  position: relative;
  top: 0px;
  z-index: 10;
  margin-bottom: 25px;
}

.selection-box {
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  width: 340px;
  padding: 5px 0px;
  cursor: pointer;
  background-color: black;
}

.open-selection-box {
  border: 1px solid #fff;
  border-bottom: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #fff;
  width: 340px;
  padding: 5px 0px;
  cursor: pointer;
  background-color: black;
}

.active-selection-box {
  border: 1px solid #00ffa0;
  border-radius: 10px;
  color: #00ffa0;
  width: 340px;
  padding: 5px 0px;
  cursor: pointer;
  background-color: black;
}

.selection-dropdown {
  border: 1px solid #fff;
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: black;
  width: 340px;
  padding: 5px 0px;
}

.selection-options {
  font-size: 12px;
  color: #fff;
  padding: 1px 0px;
  cursor: pointer;
}

.selection-options:hover {
  color: black;
  background-color: #fff;
}

.code-container {
  box-shadow: -1px -1px 31px 18px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: -1px -1px 31px 18px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: -1px -1px 31px 18px rgba(255, 255, 255, 0.3);
  padding: 15px 0px;
  background-color: #1e1e1e;
}

.editor-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.disabled-editor {
  height: 400px;
  width: 450px;
  position: absolute;
  top: 0px;
}

.convert-button {
  border: 1px solid #00ffa0;
  color: #00ffa0;
  border-radius: 10px;
  text-align: center;
  padding: 5px 20px;
  background-color: black;
  cursor: pointer;
}

.convert-button:hover {
  color: black;
  background-color: #00ffa0;
}

.disabled-convert-button {
  border: 1px solid #00ffa262;
  color: #00ffa262;
  border-radius: 10px;
  text-align: center;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.686);
  cursor: not-allowed;
}

.converting {
  display: flex;
  flex-direction: column;
  width: 234px;
  align-items: center;
}

.converting-loader {
  border: 1px solid #00ffa0;
  border-radius: 10px;
  height: 10px;
  width: 180px;
  align-self: center;
  overflow: hidden;
}

.converting-loader div {
  height: 8px;
  border-radius: 10px;
  background-color: #00ffa0;
  width: 30px;
  position: relative;
  animation: loader 1s linear infinite;
}

@keyframes loader {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

.converting-text {
  margin-top: 5px;
  font-size: 12px;
  color: #00ffa0;
}
